albumentations==1.2.0
black==22.6.0
matplotlib==3.5.2
mypy==0.961
numpy==1.23.1
opencv-python==4.6.0.66
pandas==1.4.3
pre-commit==2.20.0
pylint==2.14.4
pytest==7.1.2
rich==12.4.4
scikit-learn==1.1.1
scipy==1.8.1
segmentation-models-pytorch==0.2.1
torch==1.12.0
torchvision==0.13.0
wandb==0.12.21
